site_name: Mixing Station Docs
theme:
  name: 'material'
  logo: assets/ms.png
  custom_dir: docs/overrides
  features:
    - navigation.tabs
    - navigation.instant
    - navigation.sections
    - navigation.indexes
    - header.autohide
    - announce.dismiss
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/toggle-switch
        name: Switch to light mode

nav:
  - Home: index.md
  - Getting started:
      - General: getting-started.md
      - UI controls: ui-controls.md
      - Mixing: mixing.md
      - Metering: metering.md
      - Sends on faders: sends-on-faders.md
      - Settings:
          - Overview: settings/overview.md
          - Global settings: settings/global.md
          - App settings: settings/app.md
          - User settings: settings/user.md
      - Layers / SoF: layers.md
      - Channel strip: settings/channel-strip.md
  - Features:
      - feature-list.md
      - Actions: custom-actions.md
      - App-Link: app-link.md
      - Auto EQ: auto-eq.md
      - Batch edit: batch-edit.md
      - Channel Links: channel-links.md
      - Custom layouts: custom-layouts.md
      - Feedback detection: feedback-detection.md
      - IDCAs: layer-idcas.md
      - MCAs: mca.md
      - Midi: midi.md
      - Mix copy: mix-copy.md
      - Mix presets: mix-presets.md
      - RF Integration: rf/setup.md
      - Re-Gain: re-gain.md
      - Surround Panning: surround.md
  - Platforms:
      - Android: platforms/android.md
      - Desktop: platforms/desktop.md
      - RPi: platforms/rpi.md
      - iOS: platforms/ios.md
      - Anywhere: anywhere/index.md
  - Use Cases:
      - use-cases/index.md
      - APIs: use-cases/apis.md
      - Fixed install: use-cases/fixed-installation.md
      - Set value: use-cases/set-value.md
      - Personal monitoring: use-cases/personal-monitoring.md
      - Mix Remotely: anywhere/index.md
  - Beta program: beta.md
  - FAQ: faq.md
  - Mixer specifics:
      - Allen & Heath:
          - dLive: mixers/ah/dlive.md
          - SQ: mixers/ah/sq.md
          - Qu: mixers/ah/qu.md
      - Behringer:
          - Wing: mixers/behringer/wing.md
          - XAir: mixers/behringer/xair.md
          - X32/M32: mixers/behringer/x32.md

      - DiGiCo:
          - SQ/Quantum: mixers/digico/sd.md
      - Incompatible: incompatible-mixers.md
      - Mackie:
          - DL: mixers/mackie/dl.md
      - PreSonus:
          - SL3: mixers/presonus/sl3.md
      - QSC:
          - General: mixers/qsc/touchmix.md
      - Soundcraft:
          - Si: mixers/soundcraft/si-performer.md
          - Vi: mixers/soundcraft/vi.md
          - HiQNet: mixers/soundcraft/hiqnet.md

      - TASCAM:
          - Sonicview: mixers/tascam/sonicview.md

      - Yamaha:
          - DM3: mixers/yamaha/dm3.md
          - TF: mixers/yamaha/tf.md
  - Licenses:
      - Overview: license/overview.md
      - Subscription: license/subscription.md
  - Support: support/index.md
markdown_extensions:
  - attr_list
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - md_in_html
  - footnotes

hooks:
  - plugins/MixerGenerator.py

plugins:
  - search
  - macros:
      include_yaml:
        - data/abbreviations.yml
  - mkdocs-video:
      is_video: true
      video_muted: true
      video_controls: true
  - plantuml:
      puml_url: https://www.plantuml.com/plantuml/
      num_workers: 8
      puml_keyword: plantuml
  - redirects:
      redirect_maps:
        'platforms/pc.md': 'platforms/desktop.md'
        'ah/general.md': 'mixers/ah/qu.md'
        'qsc/general.md': 'mixers/qsc/touchmix.md'
        'wing/general.md': 'mixers/behringer/wing.md'
        'xair/bus-password.md': 'mixers/behringer/xair.md'
        'xm32/general.md': 'mixers/behringer/x32.md'
        'xm32/channel-move.md': 'mixers/behringer/x32.md'
        'xm32/bus-password.md': 'mixers/behringer/x32.md'
        'xm32/network-compare.md': 'mixers/behringer/x32.md'
        'yamaha/dm3.md': 'mixers/yamaha/dm3.md'
        'yamaha/tf.md': 'mixers/yamaha/tf.md'
        'presonus/sl3.md': 'mixers/presonus/sl3.md'
        'soundcraft/si-performer.md': 'mixers/soundcraft/si-performer.md'
        'soundcraft/vi.md': 'mixers/soundcraft/vi.md'
        'soundcraft/hiqnet.md': 'mixers/soundcraft/hiqnet.md'
        'mackie/general.md': 'mixers/mackie/dl.md'
        'digico/index.md': 'mixers/digico/sd.md'
  # Must be last plugin
  - print-site
