site_name: Mixing Station Docs
theme:
  name: 'material'
  logo: assets/ms.png
  custom_dir: docs/overrides
  features:
    - navigation.instant
    - navigation.sections
    - header.autohide
    - announce.dismiss
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/toggle-switch
        name: Switch to light mode

nav:
  - Home: index.md
  - FAQ: faq.md
  - Versions & Features: feature-list.md
  - Platforms:
      - Desktop: platforms/desktop.md
      - Android: platforms/android.md
      - iOS: platforms/ios.md
      - RPi: platforms/rpi.md
  - Getting started:
      - General: getting-started.md
      - UI controls: ui-controls.md
      - Sends on faders: sends-on-faders.md
      - Settings:
          - Overview: settings/overview.md
          - Global settings: settings/global.md
          - App settings: settings/app.md
          - User settings: settings/user.md
      - Layers / SoF: layers.md
      - Channel strip: settings/channel-strip.md
  - Advanced:
      - App-Link: app-link.md
      - IDCAs: layer-idcas.md
      - Channel Links: channel-links.md
      - Mix copy: mix-copy.md
      - Mix presets: mix-presets.md
      - Re-Gain: re-gain.md
      - Custom layouts: custom-layouts.md
      - Midi: midi.md
      - Actions: custom-actions.md
      - Auto EQ: auto-eq.md
      - Feedback detection: feedback-detection.md
  - Beta program: beta.md
  - APIs: integrations/apis.md
  - WING:
      General: wing/general.md
  - XAir:
      Bus password: xair/bus-password.md
  - XM32:
      Channel move: xm32/channel-move.md
      Bus password: xm32/bus-password.md
      X32-Mix lag: xm32/network-compare.md
      Samsung & Android 6: xm32/samsung-android6.md
  - Soundcraft:
      Si: soundcraft/si-performer.md
      Vi: soundcraft/vi.md
      HiQNet: soundcraft/hiqnet.md
  - Allen & Heath:
      General: ah/general.md
  - Mackie:
      General: mackie/general.md
  - Yamaha:
      DM: yamaha/dm.md
      TF: yamaha/tf.md

  - Known issues: known-issues.md
  - Licenses: license/overview.md
  - Privacy policy: https://dev-core.org/dsgvo


markdown_extensions:
  - attr_list
  - pymdownx.superfences
  - md_in_html

plugins:
  - search
  - macros:
      include_yaml:
        - data/abbreviations.yml
  - mkdocs-video:
      is_video: True
      video_muted: True
      video_controls: True
  - plantuml:
      puml_url: https://www.plantuml.com/plantuml/
      num_workers: 8
      puml_keyword: plantuml
  - redirects:
      redirect_maps:
        'platforms/pc.md': 'platforms/desktop.md'
  # Must be last plugin
  - print-site

